.dateRange {
  display: grid;
  gap: 10px;
  grid-template-columns: 300px 300px 180px;
  align-items: end;
}

.date-picker-container,
.filter-search-container {
  border: 0;
  grid-row: 1;
}

input {
  margin-bottom: 0;
}

.filter-search:hover {
  transform: translateY(0px);
}
